<div class="container">
  <h3>Result</h3>
  <p>Your word: <%= @user_input %></p>
  <p>Time taken to answer: <%= @result[:time] %></p>
  <p>Your score: <%= @result[:score] %></p>
  <p>Message: <%= @result[:message] %></p>
  
</div>